.shop {
  margin-top: 80px;
  width: 100%;
  position: relative;
}
.filterContainer {
  width: 25%;
  display: inline-block;
  position: fixed;
  padding: 5px;
}
.filterC {
  width: 25%;
  display: inline-block;
  position: absolute;
  padding: 5px;
}
.shop > hr {
  box-shadow: 0 0 5px var(--main-color);
}
.paginateButtons button {
  padding: 20px;
  background: var(--main-color);
  color: white;
  cursor: pointer;
  border: none;
  margin: 5px;
}
.pageNumberShow {
  font-size: 25px;
  font-weight: bolder;
  margin: 5px;
}
.paginateButtons button:hover {
  box-shadow: 0 0 10px var(--main-color);
}
.productCollection {
  width: 70%;
  overflow: hidden;
  display: inline-block;
  margin-left: 30%;
  text-align: center;
}
.productCollection .product {
  display: inline-block;
}
@media only screen and (min-width: 400px) and (max-width: 700px) {
  .filterC {
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 10px;
    z-index: 10;
  }
  .filterContainer {
    padding: 2px;
    display: block;
    height: 80vh;
    position: relative;
    width: 100%;
    margin-top: -15%;
    background-image: url("../../images/vineyard.jpg");
  }
  .filterSub {
    position: absolute;
    width: 100%;
    background: var(--main-color);
    height: 80vh;
    top: 0;
    z-index: 1;
    opacity: 0.2;
  }
  .productCollection {
    display: block;
    margin-top: 10px;
    width: 90%;
    margin: auto;
  }
  .productCollection .product {
    margin: auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 399px) {
  .filterC {
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 10px;
    /* margin-top: -15%; */

    z-index: 10;
  }
  .filterSub {
    position: absolute;
    width: 100%;
    background: var(--main-color);
    height: 80vh;
    top: 0;
    z-index: 1;
    opacity: 0.2;
  }
  .filterContainer {
    padding: 2px;
    width: 100%;
    height: 80vh;
    position: relative;
    margin-top: -20%;
    background-image: url("../../images/vineyard.jpg");
  }
  .productCollection {
    display: block;
    width: 90%;
    margin-top: 10px;
    margin: auto;
  }
  .productCollection .product {
    margin: auto;
    text-align: center;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
