.reviewShow {
  margin: auto;
  text-align: center;
  margin-top: 50px;
  display: block;
}
.reviewIndividual {
  width: 50%;

  display: flex;
  border: 2px solid var(--main-color);
  width: 80%;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
}
.addedByReview {
  width: 100px;
  height: 100px;
}
.reviewIndividual > .details {
  display: block;
  padding: 5px;
}
.reviewIndividual > .details > .personName {
  display: block;

  font-weight: bolder;
}
