.footer {
  text-align: center;
  color: var(--main-color);
  background-color: #ffffff;
  position: relative;
  min-height: 300px;

  bottom: 0;
}
.footer > span {
  font-size: 1em;
  padding: 5px 0;
  width: 100%;
  display: block;
  box-shadow: 0 0 10px var(--main-color);
  font-weight: bolder;
  text-align: center;
  width: 50%;
  margin: auto;
}
.footer > nav {
  margin-top: 5px;
  padding: 10px;
  background: rgb(212, 209, 209);
  box-shadow: 0 0 10px var(--main-color);
  border-radius: 15px;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}
.footer > nav:hover {
  background-color: var(--main-color);
}

@media only screen and (max-width: 500px) {
  .footer {
    height: 520px;
  }
}
