.productDetails {
  height: 100%;
  padding: 5px;
}
.aboutProduct {
  margin-top: 10%;
  width: 100%;
  height: 100%;
  display: inline-block;
}
.dImageContainer {
  width: 500px;
  float: left;
  height: 500px;

  background-position: center;
  background-size: cover;
}
.dImage {
  width: 100%;
  height: 100%;
  transition: 0.4s all ease-in-out;
}
.selectedDImage {
  overflow: hidden;
  cursor: pointer;
  width: 400px;
  height: 400px;
}
.selectedDImage:hover .dImage {
  transform: scale(1.2);
}
.otherImagesContainer {
  display: block;
  margin: auto;
  text-align: left;
}
.otherDImage {
  width: 70px;
  height: 60px;
  padding: 5px;

  cursor: pointer;
}
.otherDImage:hover {
  transform: scale(1.2);
}
.ddetails {
  display: inline-block;
}
.ddetails > button {
  padding: 15px;
  text-align: center;
  display: block;
  border-radius: 15px;
  cursor: pointer;

  border: 0;
}
.ddetails > button:hover {
  background-color: var(--main-color);
  color: white;
}
.otherProducts {
  margin: auto;
  margin-top: 8%;
  text-align: center;
  display: block;
}
.otherProducts .product {
  display: inline-flex;
}
@media only screen and (max-width: 600px) {
  .dImageContainer {
    display: block;
    margin: auto;
    text-align: center;
  }
  .ddetails {
    display: block;
    margin: auto;
    text-align: center;
  }
  .ddetails > button {
    margin: auto;
  }
}
