.briefAnalytics {
  width: 80%;
  display: block;
  margin: auto;
  text-align: center;
  padding: 5px;
  justify-content: center;
}
.briefAnalytics > h2 {
  font-size: 1.25em;
}
.briefAnalytics > .lastMonth,
.briefAnalytics > .mostSold {
  display: inline-block;
  margin: 5px;
  width: 130px;
  border-radius: 25px;
  color: white;
  padding: 5px;
  background-color: var(--main-color);
  text-align: center;
}
