.profileUpdator {
  width: 300px;
  height: 960px;
  display: block;
  margin: auto;
  background-color: var(--main-color);
  margin-top: 50px;
  padding: 20px;
  border-radius: 25px;
  color: white;
  text-align: center;
  box-shadow: 0 0 10px var(--main-color);
}
.pUpdateContainer > label {
  display: block;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.pUpdateContainer input {
  display: block;
  width: 80%;
  padding: 5px;
  margin: auto;
  border-radius: 10px;
  border: 0px;
  margin-top: 10px;
}
.pUpdateContainer > .imageSelector {
  display: none;
}
.pImageContainer {
  display: inline-block;
  margin-top: 20px;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 100%;
  box-shadow: 0 0 5px white;
}
.pImageContainer:hover {
  box-shadow: 0 0 10px white;
}
.pImageContainer > .uploaderIcon {
  position: absolute;
}
.pImage {
  width: 100%;
}

.updateProfileButton {
  margin-top: 20px;
  padding: 20px;
  border: 0px;
  border-radius: 10px;
  background: var(--main-color);
  box-shadow: 0 0 5px white;
  color: white;
  font-size: 15px;
  cursor: pointer;
}
.updateProfileButton:hover {
  box-shadow: 0 0 10px white;
}
.editProfileProfileImage {
  width: 60px;
  margin-top: 20px;
  padding: 5px;
  height: 60px;
  border: 1px solid white;
}

@media only screen and (max-width: 400px) {
  .profileUpdator {
    width: 80%;
  }
}
