.productReview {
  box-shadow: 0 0 3px var(--main-color);
  width: 90%;
  padding: 5px;
}
.productReview > h3 {
  border-bottom: 5px solid var(--main-color);
}
.userReviews {
  border: 2px solid var(--main-color);
}
.productReview > ul > .userReviews {
  list-style: none;
}
.productReview > ul > .userReviews > h4 {
  width: 150px;
}
.productReview > ul > .userReviews > p {
  box-shadow: 0 0 2px var(--main-color);
  padding: 2px;
}
