.adminsDisplay {
  text-align: center;
}
.adminsDisplay ul {
  margin: auto;
  text-align: center;
}
.adminsDisplay li {
  display: block;
  margin: auto;
  text-align: center;
  margin: 5px;
  padding: 5px;
}

.adminsDisplay .primaryAdmin {
  border: 2px solid var(--main-color);
}
.adminsDisplay .secondaryAdmin {
  border: 2px dashed var(--main-color);
}

.label .primaryAdmin,
.label .secondaryAdmin {
  display: inline-block;
  margin: 5px;
  width: 25px;
  height: 25px;
}
