.productNav {
  width: 98%;
}
.productNav th,
.productNav td {
  text-align: center;
  border-right: 1px solid var(--main-color);
  padding: 10px;
  cursor: pointer;
}

.productNav tr:hover {
  box-shadow: 0 0 5px var(--main-color);
}
.productNav tr a {
  width: 100%;
}

.analyticsPaginate {
  display: block;
  margin: auto;
  text-align: center;
}

.analyticsPaginate button {
  border: none;
  padding: 10px;
  margin-top: 5px;
  background-color: var(--main-color);
  color: white;
}
