.cartContents {
  margin-top: 80px;
  text-align: center;
  height: fit-content;
}

.productsInCart {
  margin-left: 20px;
  margin-top: 5px;
  width: 250px;
  text-align: center;
  display: inline-block;
}
.cartProduct {
  box-shadow: 0 0 5px var(--main-color);
  height: 80px;
  overflow: hidden;
  width: 100%;
  display: flex;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.trash {
  position: absolute;
  width: 15px;
  height: 15px;
  cursor: pointer;
  right: 0;
}
.trash i {
  font-size: 1em;
}
.cartProduct:hover {
  transform: scale(1.02);
}
.p_name {
  text-align: left;
  font-weight: bolder;
  font-size: 1.2em;
}
.pInCartImg {
  width: 100px;
  height: 100px;
  display: inline-block;
}
.quantity {
  font-weight: bold;
  font-size: 0.8em;
}

.remDetailsPCart {
  text-align: left;
}
.checkOut {
  width: 30%;
  float: right;
}
.checkOut {
  padding: 5px;
}
table {
  width: 100%;
}
.proceedToCheckout {
  padding: 10px;
  background: var(--main-color);
  color: white;
  width: 100%;
}
.pCartPrice {
  box-shadow: 2px 2px var(--main-color);
  padding: 5px;
  display: inline-block;
}
.quantity > input {
  width: 30px;
  padding: 2.5px;
}
.selectChecboxCart {
  position: absolute;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.footer {
  margin-top: 200px;
}

.removeFromCart {
  position: absolute;
  width: 15px;
  left: 50%;
  height: 15px;
  color: red;
  padding: 2px;
  cursor: pointer;
}
@media only screen and (max-width: 500px) {
  .cartContents {
    margin: auto;
    display: block;
    margin-top: 80px;
    width: 80%;
  }
  .productsInCart {
    display: block;
    width: 80%;
    margin: auto;
  }
  .checkOut {
    margin: auto;
    width: 80%;
    float: none;
  }
}
