.cartContents {
  margin-top: 80px;
  height: fit-content;
}
.cartContents > h2 {
  text-align: center;
}
.productsInCart {
  margin-left: 20px;
  margin-top: 5px;
  width: 60%;
  padding: 4px;
  display: inline-block;
}
.cartProduct {
  border: 1px solid var(--main-color);
  height: 80px;
  overflow: hidden;
  width: 450px;
  display: flex;
}
.p_name {
  text-align: center;
  font-weight: bolder;
  font-size: 1.5em;
}
.pInCartImg {
  width: 100px;
  height: 100px;
  display: inline-block;
}
.quantity {
  font-weight: bold;
  padding: 5px;
}
.remDetailsPCart {
  display: flex;
  justify-content: space-around;
  width: 250px;
}
.checkOut {
  width: 30%;
  float: right;
}
.checkOut {
  padding: 5px;
}
table {
  width: 100%;
}
.proceedToCheckout {
  padding: 10px;
  background: var(--main-color);
  color: white;
  width: 100%;
}
.pCartPrice {
  background: var(--main-color);
  color: white;
  padding: 5px;
  margin-right: -160px;
}
.quantity > input {
  width: 30px;
  padding: 2.5px;
}
.selectChecboxCart {
  position: absolute;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.footer {
  margin-top: 200px;
  height: 500px;
}
.removeFromCart {
  position: absolute;
  width: 15px;
  height: 15px;
  color: red;
  padding: 2px;
  cursor: pointer;
}
@media only screen and (max-width: 500px) {
  .cartContents {
    margin: auto;
    display: block;
    margin-top: 80px;
    width: 80%;
  }
  .productsInCart {
    display: block;
    width: 80%;
    margin: auto;
  }
  .checkOut {
    margin: auto;
    width: 80%;
    float: none;
  }
}
